
@{
    ViewBag.Title = "Anasayfa";
}



@section Kategoriler{

    @{
        Html.RenderAction("KategoriWidget", "Kategori");
    }

}


@section Etiketler{

    @{
        Html.RenderAction("EtiketlerWidget", "Etiket");
    }

}

@section Arama{
    <div class="sidebox widget">
    <h3 class="widget-title section-title">Arama</h3>
    <form class="searchform" method="get">
        <label><i class="icon-search"></i></label>
        <input type="text" id="s2" name="s" value="Birşeyler ara.." onfocus="this.value=''" onblur="this.value='Search something'" />
        <button type="submit" class="btn">Ara</button>
    </form>
</div>
    }

@section SosyalMedya {
    
    @{
        Html.RenderPartial("_SidebarSosyalMedya");

    }}

@section PopulerMakaleler{

    @{
        Html.RenderAction("PopulerMakalelerWidget", "Home");
    }

}


@{
    Html.RenderAction("MakaleListele");
}